# Backend API URL (Vite dev server proxies /api to localhost:5000)
VITE_API_URL=https://shelfshare-apjq.onrender.com/api
VITE_VAPID_PUBLIC_KEY=BJ5uLmMQrZLnQV5jtlWTDiVTehLhlWHmBV29PXBmzyzTqJ1CZOdsk8UGvz6Hfk_0dq8FYkDLNa3xmRQ7WGB_zN8